h1,h2,h3,h4 {
  text-align: center;
  font-family: 'Odibee Sans', cursive;
}

body {
  background-color: beige;

}

p {
  font-family: 'Baskervville', serif;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

li {
  display: inline-block;
}

li a{
  display: block;
  padding: 16px;
  text-decoration: none;
  color: white;
  background: black;
}

img {
  position: relative;
}

.active {
  color: aqua;
}

.projects {
  text-align: none;
  padding: 8px;
  margin: 20px;
}

span {
  color: blue;
}

.footer {
  display: block;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.footer {
  text-align: center;
}